.light {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: blue;
}

.center-wrapper {
    margin-top: 8%;
    text-align: center;
}

.stick {
    background-color: black;
    rotate: 1 1 0 180deg;
  
content: '';
    position: absolute;
    top: -20px;
    left: 50%;

 
    
  
}
.traffic-light {
    background: black;
    padding: 30px;
    display: inline-block;
    border-radius:5%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background: green;
}

.glow {
    box-shadow: 0px 0px 20px 15px gold;
    animation: glow 1.5s linear infinite alternate;
}