.light {
    border-radius:50%;
    width: 100px;
    height:100px;
    background-color: blue;
}
.traffic-light{
background: black;
padding :10px;
display:inline-block;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background: green;
}
.glow{
    box-shadow: 0px 0px 20px 15px blue;
    animation: glow 1.5s linear infinite alternate;
}
